<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /

	 # Если запрос является существующим файлом или директорией, пропускаем его
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d

    # Перенаправляем все остальные запросы на index.php
    RewriteRule ^(.*)$ index.php/$1 [L]
</IfModule>
